*{
	box-sizing:border-box;
}

body{	
	background:black;
	color:lightgrey;
}

/*classes below*/
.me_button{
	position:relative;
	background:#808000;
	color:white;
	font-weight:bold;
	float:left;
	border:green solid 2px;
	margin:0.5em 2em;
}

.ajax_result{
	position:relative;
	float:left;
	border:pink solid 6px;
	margin:0.5em 2em;
}

/*ids below*/

#body{

	border:#000080 solid 7px;
	overflow:auto;
	background:grey;

}

#da_ajax{

	border:white dotted 7px;
	overflow:auto;

}

#da_buttons{
	position:relative;
	height:20em;
	border:red solid 3px;
	float:left;
	width:60em;
}

#da_input{
	margin:1em;
}

#dis_form{
	padding:1em;
}

#form_button{
	float:right;
	margin:1em;
}

#mo_buttons{
	position:relative;
	float:right;
	border:green solid 4px;
}